<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="css/fonts.css" rel="stylesheet" />
    <link href="libs/bootstrap/Content/bootstrap.css" rel="stylesheet" />
    <link href="libs/bootstrap/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>-->
    <!--<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>-->
    <script src="libs/bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="libs/bootstrap/Scripts/jquery-color.js"></script>
    <!--<script src="Scripts/jquery.unobtrusive-ajax.js"></script>-->
    <script src="libs/bootstrap/Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="libs/angular-ymaps.js"></script>
    

    

    <script src="libs/bootstrap/modernizr-2.6.2.js"></script>
    <script src="libs/bootstrap/moment/moment.js"></script>
    <script src="libs/bootstrap/moment/moment-with-locales.js"></script>
    <script src="libs/bootstrap/respond.js"></script>
    <script src="libs/bootstrap/bootstrap-datetimepicker.js"></script>

    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body id="top" ng-app="mainApp" ng-controller="MapCtrl" ng-init="dateInit()">

    <!--<div id="vk_api_transport"></div>
    <script type="text/javascript">
        window.vkAsyncInit = function () {
        VK.init({
        apiId: 5501930
        });
        };

        setTimeout(function () {
        var el = document.createElement("script");
        el.type = "text/javascript";
        el.src = "//vk.com/js/api/openapi.js";
        el.async = true;
        document.getElementById("vk_api_transport").appendChild(el);
        }, 0);
    </script>-->

    <div id="overlay"></div>
    <div class="photo_discription_top">
        <div class="close_btn glyphicon glyphicon-remove"></div>
        <a class="owner_name" target="_blank"></a>

        
        <div class="photo_date" ng-model="photo_date">
            <button type="button" data-toggle="dropdown" class="btn_photo_menu dropdown-toggle">
                <span class="caret"></span>
            </button>
            <span class="date">{{photo_date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            <ul class="dropdown-menu">
                <li><a href="#">Ссылка на профиль</a></li>
                <li><a href="#">Ссылка на фото</a></li>
                <!--<li class="divider"></li>-->
                <li><a href="#">Личные сообщения ---</a></li>
            </ul>
        </div>
    </div>
    <a href="" id="photo_orig_link" target="_blank"><img id="photo_modal" class="img-responsive" /></a>

    <div id="photo_date"></div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div id="map" class="ng-animate col-lg-7">
                    <div>
                        <div class="search_opt_1 in_map" style="display: none">
                            <label class="flex horizontal between">
                                <span class="search_param">От:</span>
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" class="form-control" name="StartDate" data-date-format="YYYY-MM-DD  HH:mm" onchange="scope.selectDate()" ng-focus="selectDateFocus = true" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar" ng-mouseover="selectDate()"></span>
                                    </span>
                                </div>
                            </label>
                            <label class="flex horizontal between">
                                <span class="search_param">
                                    До:
                                </span>
                                <div class="input-group date" id="datetimepicker2">
                                    <input type="text" class="form-control" name="EndDate" data-date-format="YYYY-MM-DD  HH:mm" ng-focus="selectDateFocus = true" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </label>
                            <label class="flex horizontal between">
                                <span class="search_param">
                                    Радиус:
                                </span>
                                <select class="form-control" name="radius" id="radius" ng-model="circleProp.radius" ng-change="selectRadius()">
                                    fgdfg
                                    <option ng-repeat="radius in radiuses" value="{{radius.id}}" ng-bind="radius.name"></option>
                                </select>
                            </label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="coordsVisible" />
                                    Показывать кординаты окружности
                                </label>
                            </div>
                        </div>
                        <div id="menu_in_map">
                            <div id="nav-icon1" ng-click="menuInMapToggle()">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="menu_tooltip">
                            Здесь меню с установкой времени и радиуса
                        </div>

                        <yandex-map center="map.center" zoom="map.zoom">
                            <div class="search_opt_3" ng-show="coordsVisible">
                                <label class="flex horizontal between"><span>Ш:</span><span class="" ng-model="circleProp.coords[0]">{{circleProp.coords[0]}}</span></label>
                                <label class="flex horizontal between"><span>Д:</span><span class="" ng-model="circleProp.coords[1]">{{circleProp.coords[1]}}</span></label>
                            </div>
                            <!-- директива ng-repeat создаст все маркеры одним кодом  -->
                            <ymap-marker ng-repeat="marker in markers" index="marker.title" coordinates="marker.coordinates"></ymap-marker>
                        </yandex-map>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="search_opt_1" id="search_opt">
                                    <label class="flex horizontal between"><span class="search_param">Широта:</span><span class="" ng-model="circleProp.coords[0]">{{circleProp.coords[0]}}</span></label>
                                    <label class="flex horizontal between"><span class="search_param">Долгота:</span><span class="" ng-model="circleProp.coords[1]">{{circleProp.coords[1]}}</span></label><br />
                                    <label class="flex horizontal between">
                                        <span class="search_param">
                                            Радиус:
                                        </span>
                                        <select class="form-control" name="radius" id="radius" ng-model="circleProp.radius" ng-change="selectRadius()">
                                            fgdfg
                                            <option ng-repeat="radius in radiuses" value="{{radius.id}}" ng-bind="radius.name"></option>
                                        </select>
                                    </label><br />
                                    <!--<label class="flex horizontal between">
                                        <span class="search_param">От:</span>
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" class="form-control" name="StartDate" data-date-format="YYYY-MM-DD  HH:mm" ng-model="date.start" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </label>
                                    <label class="flex horizontal between">
                                        <span class="search_param">
                                            До:
                                        </span>
                                        <div class="input-group date" id="datetimepicker2">
                                            <input type="text" class="form-control" name="EndDate" data-date-format="YYYY-MM-DD  HH:mm" ng-model="date.end" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </label>-->
                                    <label class="flex vertical between">
                                        <p class="date_info flex horizontal between"><span>От:</span><span>{{dateStart}}</span></span></p>
                                        <p class="date_info flex horizontal between"><span>До:</span><span>{{dateEnd}}</span></span></p>
                                    </label>
                                </div>
                            </div>
                            <!--<div class="col-sm-6">
                                <div class="search_opt_2"></div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="search">
                <button ng-click="searchVk()" class="btn btn-default">Поиск</button>
            </div>

            <hr />

            <div class="result_view">
                <div class="search_info">
                    <p ng-model="countOfPhotos">Количество фотографий: {{countOfPhotos}}</p>
                    <p ng-model="countOfUsers">Количество пользователей: {{countOfUsers}}</p>
                    <p ng-model="countOfGroups">Количество групп: {{countOfGroups}}</p>
                    <!--<p ng-model="lastPhotoDate">Дата последней в списке фотографии: {{lastPhotoDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>-->
                </div>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#panel1">Все фото</a></li>
                    <li><a data-toggle="tab" href="#panel2">Пользователи</a></li>
                    <li><a data-toggle="tab" href="#panel3">Группы</a></li>
                    <!--<li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Другие панели
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="tab" href="#panel3">Панель 3</a></li>
                    <li><a data-toggle="tab" href="#panel4">Панель 4</a></li>
                </ul>
            </li>-->
                </ul>
                <div class="tab-content">
                    <div id="panel1" class="tab-pane fade in active">
                        <div photo-all></div>
                    </div>
                    <div id="panel2" class="tab-pane fade">
                        <div class="photo_users"></div>
                    </div>
                    <div id="panel3" class="tab-pane fade">
                        <div class="photo_groups"></div>
                    </div>
                </div>

                        <div ng-show="searchLoading" class="loading">
                            <!--<div  class="loading">-->
                            LOADING
                            <?xml version="1.0" encoding="utf-8" ?>
                            <svg width='198px' height='198px' viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-gears">
                                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                                <g transform="translate(-20,-20)">
                                    <path fill="#8f7f59" d="M79.9,52.6C80,51.8,80,50.9,80,50s0-1.8-0.1-2.6l-5.1-0.4c-0.3-2.4-0.9-4.6-1.8-6.7l4.2-2.9c-0.7-1.6-1.6-3.1-2.6-4.5 L70,35c-1.4-1.9-3.1-3.5-4.9-4.9l2.2-4.6c-1.4-1-2.9-1.9-4.5-2.6L59.8,27c-2.1-0.9-4.4-1.5-6.7-1.8l-0.4-5.1C51.8,20,50.9,20,50,20 s-1.8,0-2.6,0.1l-0.4,5.1c-2.4,0.3-4.6,0.9-6.7,1.8l-2.9-4.1c-1.6,0.7-3.1,1.6-4.5,2.6l2.1,4.6c-1.9,1.4-3.5,3.1-5,4.9l-4.5-2.1 c-1,1.4-1.9,2.9-2.6,4.5l4.1,2.9c-0.9,2.1-1.5,4.4-1.8,6.8l-5,0.4C20,48.2,20,49.1,20,50s0,1.8,0.1,2.6l5,0.4 c0.3,2.4,0.9,4.7,1.8,6.8l-4.1,2.9c0.7,1.6,1.6,3.1,2.6,4.5l4.5-2.1c1.4,1.9,3.1,3.5,5,4.9l-2.1,4.6c1.4,1,2.9,1.9,4.5,2.6l2.9-4.1 c2.1,0.9,4.4,1.5,6.7,1.8l0.4,5.1C48.2,80,49.1,80,50,80s1.8,0,2.6-0.1l0.4-5.1c2.3-0.3,4.6-0.9,6.7-1.8l2.9,4.2 c1.6-0.7,3.1-1.6,4.5-2.6L65,69.9c1.9-1.4,3.5-3,4.9-4.9l4.6,2.2c1-1.4,1.9-2.9,2.6-4.5L73,59.8c0.9-2.1,1.5-4.4,1.8-6.7L79.9,52.6 z M50,65c-8.3,0-15-6.7-15-15c0-8.3,6.7-15,15-15s15,6.7,15,15C65,58.3,58.3,65,50,65z">
                                        <animateTransform attributeName="transform" type="rotate" from="90 50 50" to="0 50 50" dur="1s" repeatCount="indefinite"></animateTransform>
                                    </path>
                                </g>
                                <g transform="translate(20,20) rotate(15 50 50)">
                                    <path fill="#9f9fab" d="M79.9,52.6C80,51.8,80,50.9,80,50s0-1.8-0.1-2.6l-5.1-0.4c-0.3-2.4-0.9-4.6-1.8-6.7l4.2-2.9c-0.7-1.6-1.6-3.1-2.6-4.5 L70,35c-1.4-1.9-3.1-3.5-4.9-4.9l2.2-4.6c-1.4-1-2.9-1.9-4.5-2.6L59.8,27c-2.1-0.9-4.4-1.5-6.7-1.8l-0.4-5.1C51.8,20,50.9,20,50,20 s-1.8,0-2.6,0.1l-0.4,5.1c-2.4,0.3-4.6,0.9-6.7,1.8l-2.9-4.1c-1.6,0.7-3.1,1.6-4.5,2.6l2.1,4.6c-1.9,1.4-3.5,3.1-5,4.9l-4.5-2.1 c-1,1.4-1.9,2.9-2.6,4.5l4.1,2.9c-0.9,2.1-1.5,4.4-1.8,6.8l-5,0.4C20,48.2,20,49.1,20,50s0,1.8,0.1,2.6l5,0.4 c0.3,2.4,0.9,4.7,1.8,6.8l-4.1,2.9c0.7,1.6,1.6,3.1,2.6,4.5l4.5-2.1c1.4,1.9,3.1,3.5,5,4.9l-2.1,4.6c1.4,1,2.9,1.9,4.5,2.6l2.9-4.1 c2.1,0.9,4.4,1.5,6.7,1.8l0.4,5.1C48.2,80,49.1,80,50,80s1.8,0,2.6-0.1l0.4-5.1c2.3-0.3,4.6-0.9,6.7-1.8l2.9,4.2 c1.6-0.7,3.1-1.6,4.5-2.6L65,69.9c1.9-1.4,3.5-3,4.9-4.9l4.6,2.2c1-1.4,1.9-2.9,2.6-4.5L73,59.8c0.9-2.1,1.5-4.4,1.8-6.7L79.9,52.6 z M50,65c-8.3,0-15-6.7-15-15c0-8.3,6.7-15,15-15s15,6.7,15,15C65,58.3,58.3,65,50,65z">
                                        <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="90 50 50" dur="1s" repeatCount="indefinite"></animateTransform>
                                    </path>
                                </g>
                            </svg>
                        </div>


                        <div class="search_info" ng-if="searchVkCont">
                            <div class="search input-group">
                                <button id="search_continue" ng-click="searchVkContinue()" class="btn btn-default">Загрузить еще фотографии</button>
                                <span class="input-group-addon search_limit">
                                    <div>60</div>
                                </span>
                            </div>
                            <!--<div class="input-group date">
                                <span class="input-group-addon">
                                    <span id="searc_limit"></span>
                                </span>
                            </div>-->
                            <hr />
                            <p ng-model="countOfPhotos">Количество фотографий: {{countOfPhotos}}</p>
                            <p ng-model="countOfUsers">Количество пользователей: {{countOfUsers}}</p>
                            <p ng-model="countOfGroups">Количество групп: {{countOfGroups}}</p>
                            <!--<p ng-model="lastPhotoDate">Дата последней в списке фотографии: {{lastPhotoDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>-->
                        </div>
                    </div>
                    iv
                    ">
                </div>
                iv
                ">
                <div id="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>



    <script src="libs/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/modules/mainApp/mainApp.js"></script>
    <script src="js/modules/mainApp/controllers/MapCtrl.js"></script>
    <script src="js/modules/mainApp/services/serviceSearchVk.js"></script>
    <script src="js/modules/mainApp/directives/photoAll.js"></script>
    <script src="js/modules/mainApp/directives/photoUsers.js"></script>
    <!--<script type="text/javascript">
        $(function () {
            //Инициализация datetimepicker8 и datetimepicker9
            $("#datetimepicker1").datetimepicker({
                locale: 'ru', defaultDate: new Date() - new Date(86400000), //new Date(2016, 1, 1, 00, 01),
                //sideBySide: true,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            $("#datetimepicker2").datetimepicker({
                locale: 'ru', defaultDate: new Date(),
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            //При изменении даты в 1 datetimepicker, она устанавливается как минимальная для 2 datetimepicker
            $("#datetimepicker1").on("dp.change", function (e) {
                $("#datetimepicker2").datetimepicker({ MinDate: e.date });
            });
            //При изменении даты в 2 datetimepicker, она устанавливается как максимальная для 1 datetimepicker
            $("#datetimepicker2").on("dp.change", function (e) {
                $("#datetimepicker1").datetimepicker({ MaxDate: e.date });
            });
        });
    </script>-->
</body>
</html>
