<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="css/fonts.css" rel="stylesheet" />
    <link href="libs/bootstrap/Content/bootstrap.css" rel="stylesheet" />
    <link href="libs/bootstrap/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>-->
    <!--<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>-->
    <script src="libs/bootstrap/Scripts/jquery-1.9.1.js"></script>
    <!--<script src="Scripts/jquery.unobtrusive-ajax.js"></script>-->
    <script src="libs/bootstrap/Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="libs/angular-ymaps.js"></script>
    <script src="js/main.js"></script>

    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body>

    <div id="vk_api_transport"></div>
    <script type="text/javascript">
        window.vkAsyncInit = function () {
            VK.init({
                apiId: 5501930
            });
        };

        setTimeout(function () {
            var el = document.createElement("script");
            el.type = "text/javascript";
            el.src = "//vk.com/js/api/openapi.js";
            el.async = true;
            document.getElementById("vk_api_transport").appendChild(el);
        }, 0);
    </script>

    <div id="overlay"></div>
    <div class="photo_discription_top">
        <div class="close_btn glyphicon glyphicon-remove-circle"></div>
        <a class="owner_name" target="_blank"></a>
        <div class="photo_date"></div>
    </div>
    <a href="" id="photo_orig_link" target="_blank"><img id="photo_modal" class="img-responsive" /></a>

    <div id="photo_date"></div>
    <div id="content" ng-app="MyApp" ng-controller="MapCtrl">
        <div class="container">
            <div class="row">
                <div id="map" class="ng-animate col-lg-7">
                    <div>
                        <yandex-map center="map.center" zoom="map.zoom">
                            <!-- директива ng-repeat создаст все маркеры одним кодом  -->
                            <ymap-marker ng-repeat="marker in markers" index="marker.title" coordinates="marker.coordinates"></ymap-marker>
                        </yandex-map>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="search_opt_1">
                                    <label class="flex horizontal between"><span class="search_param">Широта:</span><span class="" ng-model="circleProp.coords[0]">{{circleProp.coords[0]}}</span></label>
                                    <label class="flex horizontal between"><span class="search_param">Долгота:</span><span class="" ng-model="circleProp.coords[1]">{{circleProp.coords[1]}}</span></label><br>
                                    <label class="flex horizontal between">
                                        <span class="search_param">
                                            Радиус:
                                        </span>
                                        <select class="form-control" name="radius" id="radius" ng-model="circleProp.radius" ng-change="selectRadius()">
                                            fgdfg
                                            <option ng-repeat="radius in radiuses" value="{{radius.id}}" ng-bind="radius.name"></option>
                                        </select>
                                    </label><br>
                                    <label class="flex horizontal between">
                                        <span class="search_param">От:</span>
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" class="form-control" name="StartDate" data-date-format="YYYY-MM-DD  HH:mm" ng-model="date.start" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </label>
                                    <label class="flex horizontal between">
                                        <span class="search_param">
                                            До:
                                        </span>
                                        <div class="input-group date" id="datetimepicker2">
                                            <input type="text" class="form-control" name="EndDate" data-date-format="YYYY-MM-DD  HH:mm" ng-model="date.end" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="search_opt_2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="search">
                <button ng-click="searchVk()" class="btn">search</button>
            </div>
            <hr />

            <div class="result_view">
                <div class="search_info">
                    <p ng-model="countOfPhotos">Количество фотографий: {{countOfPhotos}}</p>
                    <p ng-model="countOfUsers">Количество пользователей: {{countOfUsers}}</p>
                    <p ng-model="countOfGroups">Количество групп: {{countOfGroups}}</p>
                </div>
                <img ng-repeat="photo in resultList.photos" ng-model="photo" ng-src="{{photo.photo_130}}"
                     class="photo_in_result" ng-click="photoModal($event, photo)" title="" />
            </div>
        </div>
    </div>
    <script src="libs/bootstrap/modernizr-2.6.2.js"></script>
    <script src="libs/bootstrap/moment/moment.js"></script>
    <script src="libs/bootstrap/moment/moment-with-locales.js"></script>
    <script src="libs/bootstrap/respond.js"></script>
    <script src="libs/bootstrap/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(function () {
            //Инициализация datetimepicker8 и datetimepicker9
            $("#datetimepicker1").datetimepicker({
                locale: 'ru', defaultDate: new Date() - new Date(86400000), //new Date(2016, 1, 1, 00, 01),
                //sideBySide: true,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            $("#datetimepicker2").datetimepicker({
                locale: 'ru', defaultDate: new Date(),
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            //При изменении даты в 1 datetimepicker, она устанавливается как минимальная для 2 datetimepicker
            $("#datetimepicker1").on("dp.change", function (e) {
                $("#datetimepicker2").datetimepicker({ MinDate: e.date });
            });
            //При изменении даты в 2 datetimepicker, она устанавливается как максимальная для 1 datetimepicker
            $("#datetimepicker2").on("dp.change", function (e) {
                $("#datetimepicker1").datetimepicker({ MaxDate: e.date });
            });
        });
    </script>
</body>
</html>
